







/* In BatEnemyBody.module.css */
@keyframes goldDrop {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(20px);
       
    }
}

.goldDrop {
    animation: goldDrop 1s forwards;
    position: absolute;
    bottom: -10px;
   
}